{
    "binance": {
        "api_url": "https://api.binance.com",
        "api_key_file": "binance.key",
        "config" : {
            "base_currency" : "BTC",
            "quote_currency" : "GBP",
            "live" : 0,
            "disabletracker" : 1,
            "disabletelegram" : 1,
            "autorestart" : 0,
            "graphs" : 0,
            "verbose" : 0,
            "stats" : 0
        }
    },
    "coinbasepro": {
        "api_url": "https://api.pro.coinbase.com",
        "api_key_file": "coinbasepro.key",
        "config" : {
            "base_currency" : "BTC",
            "quote_currency" : "GBP",
            "live" : 0,
            "disabletracker" : 1,
            "disabletelegram" : 1,
            "autorestart" : 0,
            "graphs" : 0,
            "verbose" : 0,
            "stats" : 0
        }
    },
    "strategy": {
        "default_coinbasepro": {
            "exchange" : "coinbasepro",
            "module" : "models.strategies.default_strategy",
            "module_class" : "DefaultStrategy",
            "config_file" : "models/strategies/configs/default.json"
        },
        "default_binance": {
            "exchange" : "binance",
            "module" : "models.strategies.default_strategy",
            "module_class" : "DefaultStrategy",
            "config_file" : "models/strategies/configs/default.json"
        },
        "default_kucoin": {
            "exchange" : "kucoin",
            "module" : "models.strategies.default_strategy",
            "module_class" : "DefaultStrategy",
            "config_file" : "models/strategies/configs/default.json"
        },
        "XTZ-GBP": {
            "exchange" : "coinbasepro",
            "module" : "models.strategies.default_strategy",
            "module_class" : "DefaultStrategy",
            "config_file" : "models/strategies/configs/XTZ-GBP-default.json"
        }
    },
    "telegram": {
        "token": "",
        "user_id": "",
        "client_id": "",
        "datafolder": ""
    },
	"scanner" : {
		"atr72_pcnt" : 1.0,
		"enableexitaftersell" : 1,
		"enableleverage" : 0,
		"maxbotcount" : 5,
        "autoscandelay" : 0,
        "enable_buy_next": 1
	}
}